body {
    color: white;
}

#center {
    /*background: linear-gradient( rgb(216, 100, 100), #9c9cee, #66c2ff, #ffcccc, #ffeee6);*/
    background-image: url(https://images.unsplash.com/photo-1584036561566-baf8f5f1b144?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: grayscale(60%);
    backdrop-filter: blur(5px);
}

#center__main__text {
    
    text-align: center;
}

.flex {
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
}

.ib {
    padding: 19px 60px 0 60px;
    width: 50%;
}

.para1 {
    text-align: left;
}

.flex1{
    display: flex;
    flex-direction: row-reverse;
}

#main__image{
    width: 800px;
    height: auto;
}

#image2{
    margin: 10px 55px 0 190px;
}


#imag2{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 60px 60px;
}

#table{
    width: 30%;
    border-collapse: collapse;
}

.hover:hover{
    color: blue;
}

#image3{
    width: 800px;
}

#other__images{
    padding: 15px 0 0 50px ;
}

#main__text{
    font-size: 140%;
}

#article__layout{
    margin-top: 30px;
}

#doctors__text{
    font-size: 130%;
}

#more__info{
    text-decoration: none;
    color:black;
}

#more__info:hover{
    color: blue;
}

.table{
    width: 600px;
    padding: 0 60px 0 120px;
}

#table__content{
    width: 400px;
    border-collapse: collapse;   
}

tr,tr {
    text-align: center;
}

#Thankyou__image{
    padding: 0 40px 0 40px;
}

#Thankyou__text{
    padding: 0 40px 0 40px;
    font-size: 120%;
}

